* {
    background-color: gray;
}

header {
    padding: 20px;
    background-color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: darkblue;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
    background-color: darkblue;
}

header nav ul {
    list-style-type: none;
    background-color: darkblue;
}

header nav ul li {
    display: inline;
    margin-left: 25px;
    background-color: darkblue;
}

a {
    color: white;
    background-color: darkblue;
}

.water {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/pexels-lisa-fotios-734973.jpg");
    background-size: cover;
    background-position: center;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content img {
    max-height: 300px;
}

.content h2 {
    margin-bottom: 100px;
    font-size: 36px;
}

.body-of-page {
    margin-bottom: 100px;
    padding: 50px;
    height: 150px;
}

.end-of-page {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
}

.end-of-page a {
    background-color: gray;
    color: black;
}

.card {
    flex-flow: column;
    padding: 5px;
    margin: 20px;
    max-width: 400px;
    display: inline-flex;
    border: 5px dotted;
    border-radius: 25% 10%;
    margin-left: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  
.card figcaption {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3px;
  } 
  
 .mod-one img:hover {
    box-shadow: 10px 10px 10px 12px lightblue;
 }

 .card:hover {
    box-shadow: 10px 10px 10px 12px lightblue;
 }


 .mod-one {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex-basis: 100%;
 }

 .mod-one img {
    max-height: 600px;
    padding: 5px;
    margin: 50px;
    border: black 5px dotted;
    border-radius: 25% 10%;
    margin-left: 100px;
    overflow: hidden;
    position: relative;
 }

.mod-one img:hover {
    box-shadow: 10px 10px 10px 12px lightblue;
}

.mod-one-caption {
    color: white;
    display: flex;
    font-size: 25px;
    position: absolute;
}

 @media (max-width: 767px) {
    .mod-one img {
        max-height: 300px;
    }
}

@media (min-width: 768px) {
    .mod-one img {
        max-height: 400px;
    }
}
@media (min-width: 992px) {
    .mod-one img {
        max-height: 500px;
    }
}